# Environment Config (環境設定)

# store your secrets and config variables in here
# only invited collaborators will be able to see your .env values
# reference these in your code with process.env.SECRET
# note: .env is a shell file so there can't be spaces around

# ここに秘密と設定変数を保存します
# 招待された共同編集者のみが.env値を見ることができます
# process.env.SECRETを使用してコード内でこれらを参照します
#注:.envはシェルファイルであるため、周囲にスペースを入れることはできません

#discord bot token
TOKEN=
